@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Lato", sans-serif;
  margin-top: 100px;
}

/* --------------------------------------------- */
/* ----------------------Nav----------------------- */
#top {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}
#nav-div {
  padding: 10px 50px;
  background-color: #ffffffe1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}

#img-div {
  display: flex;
  justify-content: center;
  width: auto;
  cursor: pointer;
}
#img-div img {
  width: 160px;
}
.dropdown-toggle {
  color: #5a5a5a;
  border: none;
  outline: none;
  font-weight: bold;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.drop-down-label {
  transition: 0.4s;
}
.dropdown:hover .drop-down-label {
  color: rgb(241, 51, 51);
}
#track-dropdown {
  padding: 15px;
  width: 250px;
}
.dropdown-menu {
  width: auto;
}
#track-input {
  margin-right: 0;
}
.track-btn {
  background-color: rgb(255, 2, 2);
  color: #fff;
  border: none;
  padding: 7px;
  border-radius: 5px;
}
.dropdown-menu li {
  width: 100%;
  /* cursor: pointer; */
}
#links-div {
  display: flex;
  column-gap: 60px;
  align-items: center;
}
.item {
  text-decoration: none;
  color: #5a5a5a;
  padding: 5px;
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.heading {
  font-weight: bold;
}
.heading:hover {
  text-decoration: underline;
}
.dropdown-menu li:hover {
  background-color: #5a5a5a1f;
}
#logging {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  align-items: center;
}
#sign-up-div {
  margin: 3px;
}
#sign-up-btn {
  background-color: #fff;
  padding: 10px 20px;
  border: 1px solid rgb(255, 85, 85);
  border-radius: 20px;
  transition: 0.3s;
}
#sign-up-btn:hover {
  background-color: rgb(255, 85, 85);
  color: #fff;
  text-decoration: underline;
}
/* --------------------------------------------- */
/* ----------------------footer----------------------- */
#footer-div {
  height: 250px;
}
footer #img-div {
  margin-bottom: 20px;
}
#footer-div footer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#footer-links {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  row-gap: 50px;
  margin-top: 40px;
  margin-bottom: 50px;
}
#footer-links div {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin: 0 50px;
}
#footer-div footer a {
  color: #5a5a5a;
  text-decoration: none;
  cursor: pointer;
}
#track-shipment-a {
  font-weight: bold;
}
#track-shipment-a:hover {
  text-decoration: underline;
}
#footer-div footer div p {
  font-weight: bold;
  color: #5a5a5a;
}
/* --------------------------------------------- */
/* ----------------------content----------------------- */
#content {
  position: relative;
  z-index: -1;
  text-align: center;
  min-height: 30vh;
  margin-top: 80px;
}
/* --------------------------------------------- */
